@import "setup";

// test
/* Main styles */
svg {
  z-index: 1;
}
.text {
  fill: none;
  stroke-width: 3;
  stroke-linejoin: round;
  stroke-dasharray: 70 330;
  stroke-dashoffset: 0;
  -webkit-animation: stroke 6s infinite linear;
  animation: stroke 6s infinite linear;
}
.text:nth-child(5n + 1) {
  stroke: rgb(75, 73, 74);
  -webkit-animation-delay: -1.2s;
  animation-delay: -1.2s;
}
.text:nth-child(5n + 2) {
  stroke: rgb(255, 255, 255);
  -webkit-animation-delay: -2.4s;
  animation-delay: -2.4s;
}
.text:nth-child(5n + 3) {
  stroke: rgb(160, 156, 156);
  -webkit-animation-delay: -3.6s;
  animation-delay: -3.6s;
}
.text:nth-child(5n + 4) {
  stroke: rgb(187, 187, 187);
  -webkit-animation-delay: -4.8s;
  animation-delay: -4.8s;
}
.text:nth-child(5n + 5) {
  stroke: rgb(255, 255, 255);
  -webkit-animation-delay: -6s;
  animation-delay: -6s;
}

@-webkit-keyframes stroke {
  100% {
    stroke-dashoffset: -400;
  }
}
@keyframes stroke {
  100% {
    stroke-dashoffset: -400;
  }
}

.cover {
  font: 5em/1 Open Sans, Impact;
  text-transform: uppercase;
  margin: 0;
  height: 100vh;
  background: black;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  p {
    color: white;
    font-size: 1.25rem;
    display: flex;
    margin-top: 25%;
    text-transform: capitalize;
  }
  .headerBottoms{
    margin-top: 5%;
    a {
      z-index: 10;
      margin-top: 1%;
      font-size: 1.25rem;
      position: relative;
    }
    a:hover{
      font-size: 2rem;
      transition: all 1s;
    }
  }

}

svg {
  position: absolute;
  width: 100%;
  height: 100%;
}

// general 
body {
  background: black;
  font-family: 'Open Sans', sans-serif;
  color: white;
}

main {
  font-size: 125%;
}

h2 {
  font-size: 4rem;
  margin-bottom: 0;
}

a {
  padding:1rem;
  text-decoration: none;
  color: white;
  border: white 0.5rem solid;
  margin-top: 1%;
  font-size: 1.25rem;
}

a:hover {
  border-radius: 25px;
  z-index: 10;
}

.wrapper {
  max-width: 1500px;
  width: 95%;
  margin: 0 auto;
}

p {
  padding: 3px;
}

// instructions
.instructions {
  height: 100vh;
  color: white;
  flex-direction: column;
  align-items: center;
  display: none;
  justify-content: center;
  .containerInstructions{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-items: center;
    li {
      padding: 0.75rem;
      font-size:1.5rem;
    }
    a {
      text-decoration: none;
      color: white;
      border: white 5px solid;
      margin-top: 1%;
    }
  }

  .nextMobile {
    display: none;
  }

}

// instructions over
// difficulty
.difficulty {
  height: 100vh;
  display: none;
  .difficultyContainer {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    height: 100vh;
    h2 {
      margin-bottom: 5%;
    }
    a{
      margin: 1rem;
    }
  }
}
// Gameboard
.canvas {
  border-top: 5px solid white;
  border-bottom: 5px solid white;
  height: 82vh;
  width: 98%;
  margin: 0 auto;
  display: flex;
  position: relative;
  border-radius: 5px;

}

.gameBoard {
  overflow: hidden;
  display: none;
}

.mainContainer {
  border: 5px solid white;
  display: flex;
  flex-direction: column;
  border-radius: 5px;
}
h4 {
  animation: rain 7s;
  animation-fill-mode: forwards;
  position: absolute;
  animation-timing-function: linear;
  transform: rotate(40deg);
  opacity: 1;
  transition: opacity 0.2s ease-out;
  font-size: 2rem;
}

@keyframes rain {
  0% {
    background: auto;
    top: 0px;
  }
  100% {
    background: auto;
    top: 85%;
    color: red;
  }
}

.inputContainer {
  height: 8.5vh;
  display: flex;
  justify-content: center;
}
.resultsContainer {
  height: 7vh;
  display: flex;
  justify-content: space-around;
  div p {
    font-size: 2rem;
    margin: 0;
  }
}

form {
  width: 70%;
  display: flex;
}

input[type="text"] {
  height: 98%;
  width: 100%;
  font-size: 2.5rem;
  text-align: center;
  background-color: white;
  color: black;
  border: none;
  border-radius: 5px;
}

.resultsSection {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  display: none;
  flex-wrap: wrap;
  .containerResultsSection {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    display: flex;
    h3 {
      font-size: 2rem;
      text-align: center;
    }
    p {
      font-size: 1.25rem;
      text-align: center;
      margin: 0;
    }
    .twitterLink {
      border: none;
    }
    .tryAgain {
      margin-top: 5%;
    }
  }
}

span {
  margin-top: 5%;
  font-size: 20px;
  display: block;
  text-align: center;
  i {
    color:  #38A1F3;
    font-size: 2rem;

  }
}

// Queries

/* Portrait tablet and small desktops */
@media (max-width:1400px) {
  .cover p {
    font-size: 2rem;
  }
}
@media (max-width: 940px){}
/* Landscape phone to portrait tablet */
@media (max-width: 768px){
  .cover {
    font-size: 5rem;
    p {
      margin-top: 40%;
      font-size: 1.5rem;

    }
  }
}
@media (max-width: 615px) {
  .resultsContainer div p {
    font-size: 1.5rem;
  }
}

/* Landscape phones and down */
@media (max-width: 480px){
  .cover {
    font-size: 5rem;
    height: auto;
    p {
      margin-top: 40%;
      font-size: 1.25rem;
    }
  }
  .cover .headerBottoms a {
    font-size: 1rem;
    margin-top: 10%;
    border: none;
  }
  .cover .headerBottoms a:hover {
    font-size: 1.5rem;
    transition: all 1s;
  }
  h2 {
    font-size: 3rem;
  }

  .instructions {
    height: auto;
  }

  .gameBoard {
    height: auto;
  }
  .instructions .containerInstructions li {
    font-size: 1.25rem;
  }
  .next {
    display: none;
  }
  .instructions .nextMobile {
    display: block;
  }
  h4 {
    animation: rain 10s;
    animation-fill-mode: forwards;
    position: absolute;
    animation-timing-function: linear;
    opacity: 1;
    transition: opacity 0.2s ease-out;
    font-size: 2rem;
    transform: rotate(0deg);
  }
  
  @keyframes rain {
    0% {
      background: auto;
      opacity: 1;
    }
    100% {
      background: auto;
      opacity: 0;
      color: red;
    }
  }
  .resultsContainer {
    height: 5vh;
  }

  // .canvas {
  //   height: 42vh;
  // }
}
/*Even smaller*/
@media(max-width: 390px){
  
}