@import "setup";

body {
  overflow: hidden;
}
.canvas {
  border: 5px solid black;
  height: 80vh;
  width: 98%;
  margin: 0 auto;
  display: flex;
  position: relative;
}

.mainContainer {
  border: 5px solid black;
  display: flex;
  flex-direction: column;
}
h4 {
  animation: rain 7s;
  animation-fill-mode: forwards;
  position: absolute;
  animation-timing-function: linear;
  transform: rotate(40deg);
  opacity: 1;
  transition: opacity 0.2s ease-out;
  &.dissapear {
    opacity: 0;
    pointer-events: none;
  }
}

p {
  padding: 3px;
}
@keyframes rain {
  0% {
    background: auto;
    top: 0px;
  }
  100% {
    background: auto;
    top: 90%;
  }
}

.inputContainer {
  height: 8.5vh;
  display: flex;
  justify-content: center;
}
.resultsContainer {
  height: 10vh;
  display: flex;
  justify-content: space-around;
}

form {
  width: 50%;
  display: flex;
}

input[type="text"] {
  height: 98%;
  width: 100%;
  font-size: 4rem;
  text-align: center;
}
